# Файлы и папки, которые не нужно копировать в контейнер Docker

# Исключаем файлы и папки, созданные системой контроля версий
.git
.gitignore

# Исключаем локальные файлы npm
node_modules

# Исключаем временные файлы
*.log
*.swp

# Исключаем файлы сборки
/build
/dist

# Исключаем файлы конфигурации редактора
.idea
.vscode
*.code-workspace

# Исключаем кэши и временные файлы Vite
.cache
.hmr
.pnpm
.yarn

# Исключаем файлы окружения
.env*
.env.local
.env.development
.env.production

# Исключаем файлы автоматически сгенерированных сертификатов
*.pem
*.key
*.crt

# Исключаем временные файлы и каталоги
.DS_Store
Thumbs.db
